<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="page-wrapper chiller-theme sidebar-bg bg2 toggled border-radius-on">
    <main class="page-content pt-2">

        <app-menu [usuario]="usuario"></app-menu>


        <div class="container-fluid p-5">

            <div class="row">
                <div class="col-md-8">
                    <h4 class="page-title">Reserva</h4>
                </div>
                <div class="col-md-4" style="text-align: right !important;">
                    <ul class="breadcrumbs">
                        <li><a [routerLink]="['/administrador/listar/reserva']">GCP</a></li>
                        <li><span>Reservar</span></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" responsive="true" (pageChange)="p = $event"></pagination-controls>
                              </div>
                              <br>
                            <div class="card" *ngFor="let reserva of this.lstReservas | paginate: { itemsPerPage: 30, currentPage: p } " [ngClass]="(reserva.idCatalogoEstado == 1 ) ? 'border-success' : 'border-warning'" style="margin-bottom: 15px !important;">
                                <div [ngClass]="(reserva.idCatalogoEstado == 1 ) ? 'card-header bg-success text-white' : 'card-header bg-warning'">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <b> Reserva # {{reserva.idReserva}} </b> 
                                        </div>
                                        <div class="col-md-6" style="text-align: right !important;">
                                            <b>{{ reserva.ASIGNACION }}</b> 
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <h6><b>Fecha: </b> {{ reserva.FECHARESERVA }}</h6>
                                        </div>
                                        <div class="col-md-9">
                                            <h6><b>Hora: </b>  {{ reserva.HORAINICIO }} : {{ reserva.HORAFIN }} </h6>
                                        </div>
                                        <br>
                                        <div class="col-md-3"><b>Sede: </b><span>{{ reserva.SEDE }}</span></div>
                                        <div class="col-md-2"><span><b>Sección: </b> {{ reserva.SECCION }}</span></div>
                                        <div class="col-md-1"><span><b>Piso: </b> {{ reserva.PISO }}</span></div>
                                        <div class="col-md-6"><span><b>Dirección: </b> {{ reserva.DIRECCION }}</span></div>
                                        <div class="col-md-3"><span><b>Departamento: </b> {{ reserva.TIPODEPARTAMENTO }}</span></div>
                                        <div class="col-md-3"><span><b>Nombre: </b> {{ reserva.NOMBREDEPARTAMENTO }}</span></div>
                                        <div class="col-md-3"><span><b>Código: </b> {{ reserva.CODIGODEPARTAMENTO }}</span></div>
                                        <div class="col-md-3"><span><b>Capacidad: </b> {{ reserva.CAPACIDAD }}</span></div>
                                        <div *ngIf="reserva.idCatalogoEstado == 2"  class="col-md-6"><span><b>Responsable: </b> {{ reserva.RESPONSABLE }}</span></div>
                                        <div *ngIf="reserva.idCatalogoEstado == 2"  class="col-md-3"><span><b>Cargo: </b> {{ reserva.CARGO }}</span></div>
                                        <div *ngIf="reserva.idCatalogoEstado == 2"  class="col-md-3"><span><b>Correo Electónico: </b> {{ reserva.EMAIL }}</span></div>
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <div class="col-md-10"></div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-block btn btn-outline-success" (click)="crearReserva(reserva)">Reservar&nbsp;<i class="fa fa-check-square-o"></i></button>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <br>
                              <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" responsive="true" (pageChange)="p = $event"></pagination-controls>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>