<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="page-wrapper chiller-theme sidebar-bg bg2 toggled border-radius-on">
    <main class="page-content pt-2">

        <app-menu [usuario]="usuario"></app-menu>

        <div class="container-fluid p-5">

            <div class="row">
                <div class="col-md-8">
                    <h4 class="page-title">Sedes</h4>
                </div>
                <div class="col-md-4" style="text-align: right !important;">
                    <ul class="breadcrumbs">
                        <li><a [routerLink]="['/administrador/sede']">GCP</a></li>
                        <li><span>Sedes</span></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <div class="card">
                        <div class="card-body">

                            <div class="form-row">
                                <div class="col-4"></div>
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <button type="button" class="btn btn-block btn-success" (click)="abrirModalCrearSede()">
                                        Crear Sede &nbsp;&nbsp;<i class="fas fa-building"></i>
                                    </button>
                                </div>
                            </div>
                            <br><br>

                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">

                                    <thead class="thead-dark">
                                        <tr style="text-align: center;">
                                            <th scope="col"><b>ID</b></th>
                                            <th scope="col"><b>Nombre Sede</b></th>
                                            <th scope="col"><b>Dirección de la Sede</b></th>
                                            <th scope="col" colspan="3"><b>Opciones</b></th>
                                        </tr>
                                    </thead>
                                    <tbody style="vertical-align: middle;">
                                        <tr *ngFor="let sede of lstSedes ; index as i" style="text-align: center;">

                                            <td style="vertical-align:middle;"><b>{{ i+1 }}</b></td>
                                            <td style="vertical-align:middle;"><b>{{ sede.nombre }}</b></td>
                                            <td style="vertical-align:middle;">{{ sede.direccion }}</td>

                                            <td>
                                                <button class="btn btn-primary btn-block"
                                                    (click)="verDetallesSede(sede)">
                                                    <i class="far fa-list-alt fa-lg"></i>
                                                </button>
                                            </td>
                                            
                                            <td>
                                                <button class="btn btn-warning btn-block"
                                                    (click)="abrirModalEditarSede(sede)"><i
                                                    class="fas fa-pencil-alt fa-lg"></i></button>
                                            </td>

                                        </tr>

                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>

<div class="modal fade" id="ModalSede" tabindex="-1" role="dialog" aria-labelledby="ModalSede" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gestión Sede</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label>Nombre Sede</label>
                        <input type="text" class="form-control" placeholder="Ingresar el nombre de la sede"
                            [(ngModel)]="fmrSede.nombre"
                            (keyup)="fmrSede.nombre = globales.formatoCampo(fmrSede.nombre, 'abcdefghijklmnñopqrstuvwxyzáéíóúÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ0123456789-. ', 100, 1)">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label>Dirección Sede</label>
                        <input type="text" class="form-control" placeholder="Ingresar la dirección de la sede"
                            [(ngModel)]="fmrSede.direccion"
                            (keyup)="fmrSede.direccion = globales.formatoCampo(fmrSede.direccion, 'abcdefghijklmnñopqrstuvwxyzáéíóúÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ0123456789-. ', 100, 1)">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label>N° de Pisos</label>
                        <select class="form-control" [(ngModel)]="fmrSedeDetalle.pisos">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Cantidad de Espacios por Piso</label><br>
                        <small>Los espacios se representarán con un código único al momento de su creación.</small>
                        <input type="text" class="form-control" placeholder="Ingresar la cantidad de espacios por piso" [(ngModel)]="fmrSedeDetalle.secciones"
                        (keyup)="fmrSedeDetalle.secciones = globales.formatoCampo(fmrSedeDetalle.secciones, '0123456789', 3, 2)">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="guardarSede()">Guardar <i class="far fa-save"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DetallesSede" tabindex="-1" role="dialog" aria-labelledby="DetallesSede" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles Sede</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table class="table table-hover table-bordered">

                        <thead class="thead-dark">
                            <tr style="text-align: center;">
                                <th scope="col"><b>ID</b></th>
                                <th scope="col"><b>Nombre Sede</b></th>
                                <!-- <th scope="col"><b>Dirección de la Sede</b></th> -->
                                <th scope="col"><b>Detalle Piso</b></th>
                                <th scope="col"><b>Detalle Sección</b></th>
                                <th scope="col"><b>Estado</b></th>
                            </tr>
                        </thead>
                        <tbody style="vertical-align: middle;">
                            <tr *ngFor="let detalle of lstSedesDetalles; index as i" style="text-align: center;">
                                <td style="vertical-align:middle;"><b>{{ i+1 }}</b></td>
                                <td style="vertical-align:middle;"><b>{{ detalle.nombre }}</b></td>
                                <!-- <td style="vertical-align:middle;">{{ detalle.direccion }}</td> -->
                                <td style="vertical-align:middle;">{{ detalle.piso }}</td>
                                <td style="vertical-align:middle;">{{ detalle.seccion }}</td>
                                <td style="vertical-align:middle;">{{ detalle.asignacion }}</td>
                            </tr>

                        </tbody>

                    </table>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditarSede" tabindex="-1" role="dialog" aria-labelledby="EditarSede" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Actualizar Sede</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label>Nombre Sede</label>
                        <input type="text" class="form-control" placeholder="Ingresar el nombre de la sede"
                            [(ngModel)]="fmrSede.nombre"
                            (keyup)="fmrSede.nombre = globales.formatoCampo(fmrSede.nombre, 'abcdefghijklmnñopqrstuvwxyzáéíóúÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ0123456789-. ', 100, 1)">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label>Dirección Sede</label>
                        <input type="text" class="form-control" placeholder="Ingresar la dirección de la sede"
                            [(ngModel)]="fmrSede.direccion"
                            (keyup)="fmrSede.direccion = globales.formatoCampo(fmrSede.direccion, 'abcdefghijklmnñopqrstuvwxyzáéíóúÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ0123456789-. ', 100, 1)">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="actualizarSede()">Actualizar Sede</button>
            </div>
        </div>
    </div>
</div>
