<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a><img src="assets/images/icon/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner" style="overflow-y: hidden !important">
            <nav>
                <ul class="metismenu" id="menu">
                    <li *ngIf="usuario.Rol == 'ADMINISTRADOR'"><a [routerLink]="['/administrador/sede']"><i class="fa fa-hospital-o"></i>
                            <span>Sedes</span></a></li>
                    <li *ngIf="usuario.Rol == 'ADMINISTRADOR'"><a [routerLink]="['/administrador/departamento/tipo']"><i class="fa fa-cubes"></i>
                            <span>Catálogo Departamento</span></a></li>
                    <li *ngIf="usuario.Rol == 'ADMINISTRADOR'"><a [routerLink]="['/administrador/departamento']"><i class="ti-home"></i>
                            <span>Departamento</span></a></li>
                    <li *ngIf="usuario.Rol == 'ADMINISTRADOR'"><a [routerLink]="['/administrador/insumo']"><i class="fa fa-cubes"></i> 
                            <span>Catálogo Insumos</span></a></li>
                    <li *ngIf="usuario.Rol == 'ADMINISTRADOR'"><a [routerLink]="['/administrador/departamento/insumo']"><i class="ti-dropbox-alt"></i>
                            <span>Insumos</span></a></li>
                    <li *ngIf="usuario.Rol == 'ADMINISTRADOR'"><a [routerLink]="['/responsable/reserva']"><i class="ti-dropbox-alt"></i>
                            <span>Reservas</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>