<div class="header-area">
    <div class="row align-items-center">

        <div class="col-md-6 col-sm-8 clearfix">
            <div class="nav-btn pull-left">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="search-box pull-left">

            </div>
        </div>

        <div class="col-md-6 col-sm-4 clearfix">
            <ul class="notification-area pull-right">
                <li class="dropdown">
                    <i class="ti-user dropdown-toggle" data-toggle="dropdown" style="color: #000 !important;">

                    </i>
                    <div class="dropdown-menu bell-notify-box notify-box">
                        <span class="notify-title" style="background-color: #303641 !important;">
                            Gabriela Andrango<br>
                            ADMINISTRADOR
                        </span>
                        <div class="nofity-list">
                            <a class="notify-item">
                                <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                <div class="notify-text">
                                    <p>Contraseña</p>
                                    <span>Gestión de contraseña</span>
                                </div>
                            </a>
                            <a class="notify-item">
                                <div class="notify-thumb"><i class="ti-user btn-info"></i></div>
                                <div class="notify-text">
                                    <p>Datos</p>
                                    <span>Gestión de datos personales</span>
                                </div>
                            </a>
                            <a class="notify-item">
                                <div class="notify-thumb"><i class="fa fa-sign-out btn-primary"></i></div>
                                <div class="notify-text">
                                    <p>Cerrar</p>
                                    <span>Cerrar sesión actual</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>